body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5em;
}
h1{
    color: blueviolet;
    font-size: 32px;
}

#divShowFight {
    width: 100%;
}

#divLeftCol {
    background-color: skyblue;
    color: white;
    width: 50%;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    z-index: 0;
}
#scoreLeft{
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 40%;
    font-family: cursive;
    color: green;
    font-size: 30px;
}
#scoreRight{
    z-index: 1;
    position: absolute;
    top: 75%;
    right: 10%;
    font-family: cursive;
    color: green;
    font-size: 30px;

}
#divRightCol {
    background-color: #47251b;
    color: white;
    width: 50%;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    z-index: 0;
}

#divCenterCol {    
    width: 97.5%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.fightTie {
    background-color: yellow;
    color: red;
    padding: 1em;
}

.fightWin {
    background-color:  skyblue;
    color: white;
    text-shadow: 1px 1px blue;
    
    padding: 1em;    
}

.fightLose {
    background-color: #47251b;
    color: white;
    padding: 1em;
    text-shadow: 1px 1px red;
}

.textAlign {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px; 
    letter-spacing: 0.1em;   
}

.imageHeight {
    height: 240px;
}