
#titleGroup{
    text-align: center; 
    margin-bottom: 20px;   
}

#reg{
    margin: 0;
    padding: 0;
    color: #08f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  


/*form*/
.container {
    width:40%; 
    border-radius: 10px;
    border: solid 1px rgb(238, 235, 235);
    font-family:'Roboto';
    margin:30px auto 0; 
    display:block;     
    padding:10px 10%;
    
}
.group{ 
    position:relative; 
    margin-bottom:2em; 
}

 input, textarea{
     font-size:18px;
     padding:10px 10px 10px 5px;
     display:block;
     width:30em;     
     border:1px solid #757575;
     border-radius: 5px;
 }

 select{
    
    height: 35px;
    border-radius: 5px;
    border:1px solid #757575;
    display:block;
    margin-bottom:1em;
    width:30em;
    font-size: 14px;
}

 
label{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
#dateLabel{
    position: relative;
    top: 5px;
}
input:focus ~ label, textarea:focus ~ label{
    top:-11px;
    font-size:14px;
    color:#5264AE;
    background: white;
    padding: 0 10px;
}

input:focus , textarea:focus {
    
    border:2.5px solid #5264AE;
}
 
#save, #show{
    height: 40px;
    background: #bbb;
    color: #757575;
    font-size: 20px;
    border-radius: 15px;
    border-color: white;
}
#save:hover, #show:hover{
    border: solid 2px #aaa;
    color: white;
}
#save{
    width: 10em;
    float: left;
}
#show{
    float: right;
    width: 15em;
    
}
#footer{
    font-size: 12px;
    color: #999;
    clear: both;
    font-style: italic;
    margin: 10px 0 0 35em;
}


    