body{
    background: #dfb9f7;
}
form{
    width: 50%;
    padding-left: 10%;
    margin: auto;
    color: blue;    
}
#titleGroup{
    text-align: center; 
    margin-bottom: 10px;   
}
#title,#reg,img{    
    margin: 0;
    padding: 0;
}
#title{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logo{
    position: absolute;
    top: 20px;
    left: 180px;
}
#me{
    font-family: Algerian,'Times New Roman', Times, serif;
    font-size: 45px;
}

#reg{
    color: #08f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

label{
    display: block;
    float: left;
    width: 8em; 
    text-align: right;  
    margin-right: 7px;
}

input{
    margin-bottom: 10px;
    height: 25px;
    color: blue;
    width: 25em;
    border-radius: 5px;
    border-style: groove;
    border-color: skyblue;
    
}
select{
    margin-bottom: 10px;
    height: 25px;
    color: blue;
    width: 25.5em;
    border-radius: 5px;
    border-style: groove;
    border-color: skyblue;
}
textarea{
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: groove;
    border-color: skyblue;
}
#save{
    margin-left: 36%;
    width: 5em;
    height: 40px;
    background: blue;
    color: skyblue;
    font-size: 20px;
    border-radius: 10px;
}


    