<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Web Site</title>
</head>
<body>
    <h1>Home Page!</h1>
    <p>Route Parameters: {{ content }}</p>
    {%  for x in range(r) %}
        {% if x%2 ==1 %}
        <p>{{ x }}</p>
        {% endif%}
    {% endfor %}
    <ul>Family Members ...
        {% for name in names %}
        <li><p>{{ name.upper() }}</p></li>
        {% endfor %}
    </ul>
    
</body>
</html>